{
  "tabWidth": 2,
  "tabs": false,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "importOrder": ["external", "builtin", "index", "sibling", "parent", "internal", "type"],
  "importOrderSeparation": true,
  "importStatementFormatter": {
    "js": {
      "singleline": false,
      "multiline": true
    },
    "ts": {
      "singleline": false,
      "multiline": true
    }
  }
}
